body {
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    color: white;
    height: 5rem;
    padding: 0;
    display: flex;
    
}
header > img {
    width: 10vw;
    padding: 1rem;
}
nav{
    display: flex;
    /*position: relative;*/
    justify-content: center;
    justify-content: space-evenly;
    padding: 2rem;
    width: 80vw;
}
nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    transform: scale(1.3);
}

figcaption{
    text-align: center;
}

.grid-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    
}

.container{
    display: grid;
    width: 20vw;
    justify-content: center;
    height: 300px;
    padding: 2rem;
}

@media (max-width: 475px) {
    .grid-container {
      display: inline;
    }
    .container {
        justify-content: center;
        margin-left: 7rem;
    }
  }
main {

}

.headline {
    text-align:center;
    border: 3px solid black;
    width: 60vw;
    margin: 3rem;
    display: flex;
    justify-content:center;
    border-color: black;   
    margin-left: 20vw; 
    margin-right: 20vw;
}

.shopping-cart1{
    display: flex;
    justify-content: center;
}

.check-out {
    display: flex;
    justify-content: center;
}

.check-out-total {
    display: flex;
    justify-content: center;
}


